# Portfolio

##About Me

<img src="${avatar}" style="width: 10%; height: auto;">


%{ for config_key, config_value in repos }
${config_key}
%{ endfor ~}


## Projects

| Repository | Webpage | GitHub |
|------------|---------|--------|

---

${name} ${date} 
